{% extends 'base.html' %}
{% load static %}
{% block title %}{{ item_name }}{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
  {% endfor %}
{% endif %}
<body>
<div class="container">
  <section>
    <h1 class="highlight">🍕 Pizzas</h1>
  
    <div class="grid">
      {% for pizza in pizzas %}
      <div class="card">
        <a href="{% url 'product_view' pizza.name %}">
          {% if pizza.image_filename %}
            <img src="{% static 'pizzeria/images/'|add:pizza.image_filename %}"
                 alt="{{ pizza.name }}"
                 class="product-image">
          {% endif %}
          <h3 style="
          margin-bottom: 0px;
          margin-top: 0px;">{{ pizza.name }}</h3>
        </a>
          <p style="
          margin-bottom: 0px;
          margin-top: 0px;" >Starting from {{ pizza.min_price }} kr</p>
          <div class="card-footer">
            <a href="{% url 'product_view' pizza.name %}">
            <button type="button" class="btn" style="
            margin-bottom: 0px;
            margin-top: 0px;">Choose</button>
            </a>
          </div>
        </div>
      {% endfor %}
      
    </div>
  </section>

  <section>
    <h1 class="highlight">🥤 Drinks</h1>
  
    <div class="grid">
      {% for drink in drinks %}
      <div class="card">
        <a href="{% url 'product_view' drink.name %}">
          {% if drink.image_filename %}
            <img src="{% static 'pizzeria/images/'|add:drink.image_filename %}"
                 alt="{{ drink.name }}"
                 class="product-image">
          {% endif %}
          <h3 style="
          margin-bottom: 0px;
          margin-top: 0px;">{{ drink.name }}</h3>
        </a>
        <p style="
        margin-bottom: 0px;
        margin-top: 0px;">Starting from {{ drink.min_price }} kr</p>
          <div class="card-footer">
            <a href="{% url 'product_view' drink.name %}">
            <button type="button" class="btn" style="
            margin-bottom: 0px;
            margin-top: 0px;">Choose</button>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</body>

{% endblock %}

