{% extends 'base.html' %}
{% load static %}
{% block title %}{{ item_name }}{% endblock %}

{% block content %}
<div class="product-modal">
  
  <div class="product-image-panel">
      <img
        src="{% static 'pizzeria/images/'|add:item.image_filename %}"
        alt="{{ item_name }}"
      >
  </div>

  <form method="post" action="{% url 'add_to_cart' %}?next={{ request.path }}" class="product-form product-controls">
    {% csrf_token %}

    <h1 class="highlight">{{ item_name }}</h1>
    <p style="
    margin-top: 0px;
    margin-bottom: 0px;"> {{ item.description }}</p>

    {% if item_category == 'pizza' and default_toppings %}
      <div class="form-section" style = "margin-bottom: 0px;">
        <h3>Default toppings:</h3>
        {% for topping in default_toppings %}
          <label style="display: inline;">
            <input type="checkbox" name="default_toppings" value="{{ topping.id }}" checked>
            {{ topping.name }}
          </label>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-section" style = "margin-bottom: 0px;">
      <h3 style="margin-bottom: 10px;">Select size:</h3>
      <div class="radio-inputs" style="
    height: 40px;">
        {% for item in items %}
          <div class="radio">
            <input 
              type="radio" 
              name="size" 
              value="{{ item.size }}" 
              data-price="{{ item.price }}" 
              id="size-{{ item.id }}"
              {% if forloop.first %}checked{% endif %}
            >
            <label for="size-{{ item.id }}" class="name">
             <p> {{ item.size|capfirst }} - {{ item.price }} kr</p>
            </label>
          </div>
        {% endfor %}
      </div>
    </div>

    {% if item_category == 'pizza' %}
      <div class="form-section">
        <h3>Add extra toppings:</h3>
        <div class="topping-grid">
          {% for topping in all_toppings %}
            <div class="checkbox-wrapper-16">
              <label class="checkbox-wrapper">
                <input 
                  type="checkbox" 
                  name="extra_toppings" 
                  value="{{ topping.id }}" 
                  class="checkbox-input"
                >
                <span class="checkbox-tile">
                  <span class="checkbox-icon">
                    {% if topping.image_filename %}
                      <img 
                        src="{% static 'pizzeria/images/'|add:topping.image_filename %}" 
                        alt="{{ topping.name }}" 
                        style="width: 3rem; height: 3rem;"
                      >
                    {% endif %}
                  </span>
                  <span class="checkbox-label">
                    {{ topping.name }} 
                  </span>
                  <span class="checkbox-label" data-topping-id="{{ topping.id }}"></span>
                </span>
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <input type="hidden" name="item_name" value="{{ item_name }}">
    <input type="hidden" id="total-price" value="0">
    <input type="hidden" name="item_category" value="{{ item.category }}">

    <button type="submit" class="btn" style="
    margin-bottom: 30px;">Add to Cart for <span id="total-price-text"></span></button>
  </form>
</div>


<script id="topping-prices-data" type="application/json">
    {{ topping_prices_json|safe }}
</script>

<script>
    const toppingPrices = JSON.parse(
      document.getElementById("topping-prices-data").textContent
    );
    // updating the toping prices depending on the size of pizza
    function updateToppingPrices(selectedSize) {
      document.querySelectorAll('[data-topping-id]').forEach(span => {
        const id = span.dataset.toppingId;
        let price;
        if (toppingPrices[id]) {
            price = toppingPrices[id][selectedSize];
}
        span.innerText = `+${price} kr`;});
        updateTotalPrice(selectedSize);
    }

    document.addEventListener("DOMContentLoaded", () => {
      const radios = document.querySelectorAll('input[name="size"]');
      radios.forEach(radio => {
        radio.addEventListener('change', () => {
          if (radio.checked) updateToppingPrices(radio.value);
        });
        if (radio.checked) updateToppingPrices(radio.value);
      });
  
    document.querySelectorAll('input[name="extra_toppings"]').forEach(choice => {
        choice.addEventListener('change', () => 
        {const selectedSize = document.querySelector('input[name="size"]:checked')?.value;
          updateTotalPrice(selectedSize);
        });
    });
    });

    // dynamic total price on the add to cart button

    function updateTotalPrice(selectedSize) {
        const selectedTopping = document.querySelector('input[name="size"]:checked');
        let basePrice = 0;
        if (selectedTopping) {
            basePrice = parseFloat(selectedTopping.dataset.price);
        }

        let toppingTotal = 0;
        document.querySelectorAll('input[name="extra_toppings"]:checked').forEach(choice => {
            const price = toppingPrices[choice.value]?.[selectedSize];
            toppingTotal = toppingTotal+price;
        });

        const total = basePrice + toppingTotal;
        const totalText = document.getElementById( "total-price-text");
        if (totalText) {
            totalText.textContent = `${total.toFixed(2)} kr`;
        }}

    console.log(  basePrice, toppingTotal);
  </script>
  
{% endblock %}
