<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}GoodPizza{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'pizzeria/style.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="container">
          <span class="brand">GoodPizza</span>
          <nav class="top-nav">
            {% if user.is_authenticated %}
              <h1><span class="welcome">Welcome, {{ user.first_name }}!</span></h1>
              <a href="{% url 'index' %}">Menu</a>
              <a href="{% url 'account' %}">My Account</a>
              <a href="{% url 'cart' %}">My Cart</a>
              <a href="{% url 'my_orders' %}">My Orders</a>
              {% if user.is_staff %}
                <a href="{% url 'index' %}">Manage Orders</a>
              {% endif %}
              {% if user.is_superuser %}
                <a href="/admin/">Admin</a>
              {% endif %}
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" style="all: unset; color: blue; text-decoration: underline; cursor: pointer;">
                    Logout
                  </button>
                </form>
              {% else %}
                <h1><span class="welcome">Welcome!</span></h1>
                <a href="{% url 'index' %}">Menu</a>
                <a href="{% url 'login' %}">Log in</a>
                <a href="{% url 'register' %}">Register</a>
              {% endif %}
          </nav>
        </div>
      </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; GoodPizza. All rights reserved.</p>
  </footer>

</body>
</html>