<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}GoodPizza{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'pizzeria/style.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="container">
          <span class="brand">GoodPizza</span>
          <nav class="top-nav">
              <h1><span class="welcome">Welcome, {{ user.first_name }}!</span></h1>
              <a href="{% url 'index' %}">Menu</a>
              <a href="{% url 'index' %}">My Account</a>
              <a href="{% url 'cart' %}">My Cart</a>
              <a href="{% url 'clear_cart' %}">My Orders</a>
            
                <a href="{% url 'index' %}">Manage Orders</a>
              
                <a href="{% url 'index' %}">Admin</a>
             
              <a href="{% url 'index' %}">Log out</a>
          </nav>
        </div>
      </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; GoodPizza. All rights reserved.</p>
  </footer>

</body>
</html>