{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert">{{ message }}</div>
  {% endfor %}
{% endif %}
<main>
  <div class="form-container">
  <div class="login-form">
    <h2 class="form-title">Login</h2>

    <form method="post">
      {% csrf_token %}

      <div class="input-container">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>

      <div class="input-container">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>

      <button type="submit" class="submit">Log in</button>
    </form>

    <p class="signup-link">
      Don't have an account?
      <a href="{% url 'register' %}">Register</a>
    </p>
  </div>
</div>
</main>
{% endblock %}